@import 'utils/variables';
@import 'utils/mixins';
@import 'base/default';

@import 'components/header';
@import 'components/footer';
@import 'components/card';
@import 'components/heading';

@import 'components/intro';
@import 'components/trendy';
@import 'components/top-selling';
@import 'components/review';
@import 'components/best';