@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: #1B2316;
  color: #FFFFFF;
  font-family: "Inter";
  font-style: normal;
  line-height: normal;
}

.container {
  width: 1442px;
  margin-left: auto;
  margin-right: auto;
}

button {
  font: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p, ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.background-wrapper {
  background-image: url(../../images/backgroundImg.jpg);
  height: 2592px;
  background-repeat: no-repeat;
  background-position: center;
}

.is-hidden {
  position: absolute;
  visibility: hidden;
}

.header {
  padding: 42px 0 144px 0;
}
.header .header-container {
  padding: 14px 10px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.14) 10%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 100%);
}

.header-logo {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header-logo .header-logo-icon {
  display: flex;
}
.header-logo .header-logo-text {
  align-self: flex-end;
  opacity: 75%;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 800;
  margin-left: 14px;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation .navigation-list {
  display: flex;
  flex-direction: row;
  gap: 59px;
  align-items: center;
}
.navigation .navigation-list a {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  opacity: 75%;
}
.navigation .navigation-list a:hover {
  opacity: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .drop-button {
  background-color: transparent;
  color: #FFFFFF;
  font-family: "Inter";
  opacity: 75%;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  border: none;
}
.dropdown .drop-button:hover {
  opacity: 100%;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  padding-top: 5px;
  right: 0;
  z-index: 1;
}
.dropdown .dropdown-content a {
  color: #FFFFFF;
  font-family: "Inter";
  text-decoration: none;
  opacity: 75%;
}
.dropdown .dropdown-content a:hover {
  opacity: 100%;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
}

.header-icons-list {
  display: flex;
  align-items: center;
  gap: 59px;
}
.header-icons-list .icons-list-item {
  opacity: 75%;
}
.header-icons-list .icons-list-item:hover {
  opacity: 100%;
}
.header-icons-list .icons-list-item a {
  color: #FFFFFF;
  fill: currentColor;
}

.intro {
  padding-left: 50px;
  padding-right: 39px;
}
.intro .container {
  display: flex;
  justify-content: space-between;
}
.intro .intro-info .intro-info-heading {
  font-size: 103px;
  font-weight: 600;
  line-height: 1.21;
  opacity: 75%;
}
.intro .intro-info .intro-info-text {
  max-width: 785px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.22;
}

.footer {
  position: relative;
  padding: 79px 29px 77px 54px;
  background-color: #222C1D;
  /* Footer left side */
  /* Footer center */
  /* Footer right side */
}
.footer .container {
  display: flex;
  gap: 140px;
}
.footer .footer-heading-text {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 800;
  margin-bottom: 50px;
}
.footer .footer-left-side {
  font-size: 24px;
  line-height: 1.25;
}
.footer .footer-left-side .footer-logo {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 43px;
}
.footer .footer-left-side .footer-logo .footer-logo-icon {
  display: flex;
}
.footer .footer-left-side .footer-logo .footer-logo-text {
  align-self: flex-end;
  opacity: 75%;
  font-size: 51px;
  line-height: 1.21;
  font-weight: 900;
  margin-left: 13px;
}
.footer .footer-left-side .footer-text {
  max-width: 520px;
  font-weight: 500;
  margin-bottom: 119px;
}
.footer .footer-left-side .footer-languages-list {
  position: absolute;
  bottom: 88px;
  display: flex;
  gap: 61px;
  font-weight: 800;
}
.footer .footer-center {
  font-size: 21px;
  line-height: 1.22;
  font-weight: 500;
}
.footer .footer-center .footer-links-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.footer .footer-right-side {
  font-size: 21px;
  line-height: 1.22;
  font-weight: 500;
}
.footer .footer-right-side .email-update-form {
  display: flex;
}
.footer .footer-right-side .email-update-form .email-update-label {
  position: relative;
  max-width: 494px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  padding: 19px 3.5px 19px 25px;
}
.footer .footer-right-side .email-update-form .email-update-label .email-update-input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  padding-right: 145px;
  color: #FFFFFF;
  opacity: 75%;
}
.footer .footer-right-side .email-update-form .email-update-label .email-submit-button {
  position: absolute;
  right: 3px;
  top: 3.5px;
  bottom: 3.5px;
  padding: 16px 17px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 1.23;
  font-weight: 700;
}
.footer .footer-right-side .footer-rights {
  position: absolute;
  bottom: 88px;
}/*# sourceMappingURL=main.css.map */