.best-section {
    // padding-left: 56px;
    // padding-right: 39px;
    padding-bottom: 170px;

    @include tablet {
        padding-bottom: 100px;
    }
    
    @include mobile {
        padding-bottom: 70px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .heading {
        margin-bottom: 242px;

        @include tablet {
            margin-bottom: 120px;
        }
        
        @include mobile {
            margin-bottom: 100px;
        }
    }

    .plant-card {
        position: relative;
        padding-top: 118px;
        padding-bottom: 118px;
        padding-right: 91px;
        display: flex;
        align-items: center;
        border-radius: 92px;

        @include tablet {
            padding-top: 48px;
            padding-bottom: 48px;
            padding-right: 40px;
        }
        
        @include mobile {
            padding-left: 15px;
            padding-top: 120px;
            padding-bottom: 48px;
        }

        .best-plant-image {
            position: absolute;
            user-select: none;
            left: -60px;
            bottom: 0;

            @include tablet {
                width: 55%;
                height: auto;
                left: -30px;
                bottom: 70px;
            }
            
            @include mobile {
                width: 55%;
                height: auto;
                left: 70px;
                top: -50px;
            }
        }

        .figcaption {
            margin-left: auto;
        }

        .plant-card-heading {
            opacity: 75%;
            font-size: 33px;
            font-weight: 600;
            line-height: 1.21;
            max-width: 600px;
            margin-bottom: 42px;

            @include tablet {
                font-size: 22px;
                max-width: 370px;
                margin-bottom: 25px;
            }
            
            @include mobile {
                font-size: 20px;
                max-width: 300px;
                margin-bottom: 25px;
            }
        }

        .plant-card-description {
            opacity: 75%;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.21;
            max-width: 600px;

            @include tablet {
                font-size: 14px;
                max-width: 390px;
            }
            
            @include mobile {
                font-size: 14px;
                max-width: 300px;
            }
        }

        .button-list {
            display: flex;
            align-items: center;
        }

        .plant-card-button {
            font-family: $general-font;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.21;
            color: $general-white;
            background-color: transparent;
            padding: 13px 52px;
            border: 2px solid $general-white;
            border-radius: 12px;
            transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;

            @include tablet {
                font-size: 20px;
                padding: 8px 30px;
            }
            
            @include mobile {
                font-size: 18px;
                border-radius: 10px;
                padding: 6px 26px;
            }

            &:hover,
            &:focus {
                opacity: 100%;
                color: $hover-green;
                border-color: $hover-green;
            }
        }

        .plant-card-pages {
            display: flex;
            align-items: center;
            margin-left: auto;

            .intro-plant-text-slider-button {
                display: flex;
                align-items: center;
                opacity: 75%;
                stroke: $general-white;
                background-color: transparent;
                border: none;
                transition: opacity 0.4s ease-in-out, stroke 0.3s ease-in-out;

                &:first-child {
                    transform: scaleX(-1);
                }
    
                &:hover,
                &:focus {
                    opacity: 100%;
                    stroke: $hover-green;
                }
            }
        }
    }

    .best-section-swiper {
        position: relative;
        margin-top: -100px;
        padding-top: 100px;
        overflow: hidden;
    }
    
    .best-section-swiper-pagination {
        max-width: fit-content;
        margin-inline: auto;
        margin-top: 70px;
    }

    .swiper-pagination {

        &-bullet {
            
            background-color: $general-white;
            transition: width 0.1s ease-out;

            &-active {
                background-color: $general-white;
                border-radius: 46px;
                width: 21px;
                transition: width 0.3s ease-in;
            }
        }
    }
}

.swiper-text {
    width: 600px;
    overflow: hidden;

    @include tablet {
        width: 370px;
    }
    
    @include mobile {
        width: 300px;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        gap: 42px;
        margin-bottom: 42px;

        @include tablet {
            gap: 20px;
            margin-bottom: 20px;
        }
        
        @include mobile {
            gap: 20px;
            margin-bottom: 15px;
        }
    }    
}