.card {
    background-color: $cards-white;
    border: 2px solid rgba(255,255,255,0.14);
    // border-image-source: linear-gradient(147.93deg, rgba(255, 255, 255, 0.2) 6.68%, rgba(0, 0, 0, 0) 51.71%, rgba(255, 255, 255, 0.2) 93.27%);            
    // border-image-slice: 1;
    // border-image-width: 2;
    color: $general-white;
}