.footer {
    position: relative;
    padding: 79px 29px 77px 54px;
    background-color: $footer-green;

    .container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 140px;
        row-gap: 90px;
    }

    .footer-heading-text {
        font-size: 24px;
        line-height: 1.25;
        font-weight: 800;
        margin-bottom: 50px;
    }

    /* Footer left side */

    .footer-left-side {
        font-size: 24px;
        line-height: 1.25;

        .footer-logo{
            display: flex;
            user-select: none;
            margin-bottom: 43px;
            
            .footer-logo-icon {
                display: flex;
            }
            .footer-logo-text {
                align-self: flex-end;
                opacity: 75%;
                font-size: 51px;
                line-height: 1.21;
                font-weight: 900;
                margin-left: 13px;
            }
        }
        
        .footer-text {
            max-width: 520px;
            font-weight: 500;
        }
    }

    /* Footer center */

    .footer-center {
        font-size: 21px;
        line-height: 1.22;
        font-weight: 500;

        .footer-links-list {
            display: flex;
            flex-direction: column;
            gap: 26px;
        }

        .footer-link {
            a {
                color: $general-white;    
                text-decoration: none;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $hover-green;
                }
            }
        }
    }

    /* Footer right side */

    .footer-right-side {
        font-size: 21px;
        line-height: 1.22;
        font-weight: 500;

        .email-update-form {
            display: flex;
            
            .email-update-label {
                position: relative;
                max-width: 494px;
                border: 2px solid $general-white;
                border-radius: 8px;
                padding: 19px 3.5px 19px 25px;
                transition: border-color 0.3s ease-in-out;

                &:only-child:hover {
                    border-color: $hover-green;
                }

                .email-update-input {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    width: 100%;
                    padding-right: 145px;
                    color: $general-white;
                    opacity: 75%;
                }

                .email-submit-button {
                    position: absolute;
                    right: 3px; 
                    top: 3.5px;
                    bottom: 3.5px;
                    padding: 16px 17px;
                    border: none;
                    border-radius: 8px;
                    text-transform: uppercase;
                    font-size: 19px;
                    line-height: 1.23;
                    font-weight: 700;
                    transition: color 0.3s ease-in-out,  background-color 0.3s ease-in-out;

                    &:hover {
                        background-color: $hover-green;
                        color: $general-white;
                    }
                }
            }
        }
    }
}

    /* footer-lower */
.footer-lower {
    display: flex;
    width: 100%;
    
    .footer-social-list {
        display: flex;
        gap: 61px;
        font-size: 24px;
        line-height: 1.24;
        font-weight: 800;

        .footer-social-link {
            a {
                color: $general-white;
                text-decoration: none;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $hover-green;
                }
            }
        }
    }

    .footer-rights {
        margin-left: auto;
        margin-right: 235px;
        font-size: 21px;
        line-height: 1.22;
        font-weight: 500;
    }
}