.footer {
    position: relative;
    padding: 79px 29px 77px 54px;
    background-color: $footer-green;

    @include tablet {
        padding-left: 0;
        padding-right: 0;
    }
    
    @include mobile {
        padding: 67px 0px 60px 0px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 90px;
        
        @include mobile {
            width: 95%;
        }
    }

    .footer-heading-text {
        font-size: 24px;
        line-height: 1.25;
        font-weight: 800;
        margin-bottom: 50px;

        @include tablet {
            max-width: fit-content;
            margin-inline: auto;
        }
        
        @include mobile {
            max-width: fit-content;
            margin-inline: auto;
        }
    }

    /* Footer top */

    .footer-top {
        display: flex;
        gap: 130px;

        @include tablet {
            flex-direction: column;
            gap: 90px;
        }
        
        @include mobile {
            flex-direction: column;
            gap: 70px;
        }
    }

    /* Footer left side */

    .footer-left-side {
        font-size: 24px;
        line-height: 1.25;
        max-width: fit-content;

        @include tablet {
            margin-inline: auto;
        }

        @include mobile {
            margin-inline: auto;
        }

        .footer-logo{
            display: flex;
            user-select: none;
            margin-bottom: 43px;

            @include tablet {
                justify-content: center;
            }

            @include mobile {
                justify-content: center;
            }
            
            .footer-logo-icon {
                display: flex;

                @include mobile {
                    img {
                        width: 70px;
                        height: 70px;
                    }
                }
            }
            .footer-logo-text {
                align-self: flex-end;
                opacity: 75%;
                font-size: 51px;
                line-height: 1.21;
                font-weight: 900;
                margin-left: 13px;
                
                @include mobile {
                    font-size: 43px;
                }
            }
        }
        
        .footer-text {
            max-width: 520px;
            font-weight: 500;

            @include tablet {
                text-align: center;
            }
            
            @include mobile {
                text-align: center;
            }
        }
    }

    /* Footer center */

    .footer-center {
        font-size: 21px;
        line-height: 1.22;
        font-weight: 500;

        .footer-links-list {
            display: flex;
            flex-direction: column;
            gap: 26px;

            @include tablet {
                justify-self: center;
            }
            
            @include mobile {
                justify-self: center;
                gap: 20px;
            }
        }

        .footer-link {
            @include tablet {
                text-align: center;
            }
            
            @include mobile {
                text-align: center;
            }

            a {
                color: $general-white;    
                text-decoration: none;
                transition: color 0.3s ease-in-out;
                text-wrap: nowrap;

                &:hover {
                    color: $hover-green;
                }
            }
        }
    }

    /* Footer right side */

    .footer-right-side {
        font-size: 21px;
        line-height: 1.22;
        font-weight: 500;

        @include tablet {
            margin-inline: auto;
        }
        
        @include mobile {
            margin-inline: auto;
        }

        .email-update-form {
            display: flex;
            
            .email-update-label {
                position: relative;
                border: 2px solid $general-white;
                border-radius: 8px;
                padding: 19px 3.5px 19px 25px;
                transition: border-color 0.3s ease-in-out;

                @include mobile {
                    padding: 14px 3.5px 14px 15px ;
                }

                &:only-child:hover {
                    border-color: $hover-green;
                }

                .email-update-input {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    width: 100%;
                    padding-right: 145px;
                    color: $general-white;
                    opacity: 75%;
                }

                .email-submit-button {
                    position: absolute;
                    right: 3px; 
                    top: 3.5px;
                    bottom: 3.5px;
                    padding: 16px 17px;
                    border: none;
                    border-radius: 8px;
                    text-transform: uppercase;
                    font-size: 19px;
                    line-height: 1.23;
                    font-weight: 700;
                    transition: color 0.3s ease-in-out,  background-color 0.3s ease-in-out;

                    @include mobile {
                        padding: 10px 12px;
                    }

                    &:hover {
                        background-color: $hover-green;
                        color: $general-white;
                    }
                }
            }
        }
    }
}

    /* footer-lower */
.footer-lower {
    display: flex;

    @include tablet {
        margin-inline: 10px;
    }
    
    @include mobile {
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-social-list {
        display: flex;
        gap: 61px;
        font-size: 24px;
        line-height: 1.24;
        font-weight: 800;

        .footer-social-link {
            a {
                color: $general-white;
                text-decoration: none;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $hover-green;
                }
            }
        }
    }

    .footer-rights {
        margin-left: auto;
        margin-right: 245px;
        font-size: 21px;
        line-height: 1.22;
        font-weight: 500;

        @include tablet {
            margin-right: 0;
        }
        
        @include mobile {
            margin: 0;
        }
    }
}