.heading {
    display: flex;
    position: relative;
    max-width: max-content;
    margin-inline: auto;
    
    .section-heading {
        padding: 15px 30px;
        font-size: 48px;
        font-weight: 600;
        line-height: 1.21;
        color: $general-white;

        @include mobile {
            font-size: 32px;
        }
    
        text-shadow: 0px 2px 1.5px rgba(0, 0, 0, 0.0863), 
        0px 4.5px 3.5px rgba(0, 0, 0, 0.1254), 
        0px 8px 6px rgba(0, 0, 0, 0.1545),
        0px 12.5px 10px rgba(0, 0, 0, 0.18),
        0px 19.32px 15.5px rgba(0, 0, 0, 0.2055),
        0px 30px 24px rgba(0, 0, 0, 0.2346),
        0px 50px 40px rgba(0, 0, 0, 0.2737),
        0px 100px 80px rgba(0, 0, 0, 0.36);
    }

    .heading-left-icon {
        position: absolute;
        left: 0;
        bottom: 0;

        @include mobile {
            left: 5px;
            bottom: 0;
        }
    }

    .heading-right-icon {
        position: absolute;
        right: 0;
        top: 0;

        @include mobile {
            right: 5px;
        }
    }
}