.header {
    padding: 42px 0 144px 0;
    
    .header-container {
        padding: 14px 10px;
        display: flex;
        justify-content: space-between;
        color: $general-white;
        border-radius: 20px;
        border: 2px solid rgba(255,255,255,0.14);
        box-shadow: 0px 18px 22px -6px #00000040;
        background: $cards-white;
    }
}

.header-logo{
    display: flex;
    user-select: none;
    
    .header-logo-icon {
        display: flex;
    }
    .header-logo-text {
        align-self: flex-end;
        opacity: 75%;
        font-size: 25px;
        line-height: 1.2;
        font-weight: 800;
        margin-left: 14px;
    }
}

.navigation{
    display: flex;
    align-items: center;

    .navigation-list {
        display: flex;
        flex-direction: row;
        gap: 59px;
        align-items: center;

        a {
            color: $general-white;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 500;
            opacity: 75%;
            transition: color 0.2s ease-in-out, opacity 0.3s ease-in-out;
            
            &:hover {
                opacity: 100%;
                color: $hover-green;
            }
        }
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    
    .drop-button{       
        background-color: transparent;
        color: $general-white;
        font-family: $general-font;
        opacity: 75%;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 500;
        border: none;
        transition: color 0.2s ease-in-out, opacity 0.3s ease-in-out;

        &:hover {
            opacity: 100%;
            color: $hover-green;
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        padding-top: 5px;
        right: 0;
        z-index: 1;

        a {
            color: $general-white;
            font-family: $general-font;
            text-decoration: none;
            opacity: 75%;
            transition: color 0.2s ease-in-out, opacity 0.3s ease-in-out;

            &:hover {
                opacity: 100%;
                color: $hover-green;
            }
        }
    }

    &:hover .dropdown-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: transparent;
    }
}

.header-icons-list {
    display: flex;
    align-items: center;
    gap: 59px;
    
    .icons-list-item {
        opacity: 75%;
        transition: opacity 0.3s ease-in-out;
        
        &:hover {
            opacity: 100%;
        }

        a {
            stroke: $general-white;
            color: $general-white;
            fill: currentColor;
        }
    }
}