.review-section {
    // padding-left: 55px;
    // padding-right: 55px;
    padding-bottom: 285px;
    
    @include tablet {
        padding-bottom: 120px;
    }
    
    @include mobile {
        padding-bottom: 120px;
    }

    .heading {
        margin-bottom: 160px;

        @include tablet {
            margin-bottom: 80px;
        }
        
        @include mobile {
            margin-bottom: 80px;
        }
    }

    .review-cards-list {
        display: flex;
        gap: 33px;
        justify-content: center;

        @include tablet {
            flex-wrap: wrap;
        }
        
        @include mobile {
            flex-wrap: wrap;
        }

        li {
            margin: 0;
        }
    }

    .review-card {
        border-radius: 45px;
        backdrop-filter: blur(20.200000762939453px);
        max-width: fit-content;
        padding: 80px 45px 95px 51px;
        margin: 0;

        @include tablet {
            padding: 50px 45px 65px 51px;
        }
        
        @include mobile {
            padding: 35px 30px 50px 46px;
        }

        .review-card-top {
            display: flex;
            margin-bottom: 22px;
            gap: 28px;
            align-items: center;

            .avatar-image {
                width: 56px;
                height: 56px;
                border-radius: 86px;
                object-fit: cover;
            }
    
            .avatar-info {
                display: flex;
                flex-direction: column;

                &-name {    
                    font-size: 33px;
                    line-height: 1.21;

                    @include mobile {
                        font-size: 24px;
                    }
                }

                @include mobile {
                    svg {
                        width: 75%;
                        height: auto;
                    }
                }
            }
        }

        
        .figcaption {
            max-width: 354px;
            font-size: 21px;
            font-weight: 400;
            line-height: 1.19;
            opacity: 75%;

            @include mobile {
                font-size: 15px;
            }
        }
    }
}