.top-selling-section {
    padding-left: 50px;
    padding-right: 39px;
    padding-bottom: 219px;

    .container {  
        display: flex; 
        flex-direction: column; 
    }

    .heading {
        margin-bottom: 189px;
    }

    .top-selling-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 41px;
        row-gap: 113px;
    }

    .plant-card {
        position: relative;
        border-radius: 77px;
        height: 567px;
        width: 450px;
        backdrop-filter: blur(25px);
        box-shadow: 0px 9px 18.4px 0px #00000040;

        .plant-card-image {
            position: absolute;
            top: -120px;
            left: 20px;
        }

        .figcaption {
            position: absolute;
            left: 63px;
            bottom: 55px;

            .plant-card-heading {   
                opacity: 75%;     
                font-size: 33px;
                font-weight: 400;
                line-height: 1.21;
                margin-bottom: 36px;
            }

            .plant-card-description {
                opacity: 75%;
                font-size: 21px;
                font-weight: 400;
                line-height: 1.21;
                max-width: 279px;
                margin-bottom: 36px;
            }

            .plant-card-lower {
                display: flex;
                align-items: center;

                .plant-card-cost {
                    opacity: 75%;
                    font-size: 33px;
                    font-weight: 400;
                    line-height: 1.21;
                }

                .plant-card-save-button {                
                    opacity: 75%;
                    margin-left: auto;   
                    padding: 11px 12px;
                    stroke: $general-white;
                    background-color: transparent;
                    border: 2px solid $general-white;
                    border-radius: 12px;
                    transition: stroke 0.3s ease-in-out, border-color 0.3s ease-in-out, opacity 0.4s ease-in-out;
                    
                    &:hover,
                    &:focus {
                        border-color: $hover-green;
                        stroke: $hover-green;
                        opacity: 100%;
                    }
                }
            }
        }
    }
}