.trendy-section {
    // padding-left: 56px;
    // padding-right: 39px;

    .container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .heading {
        margin-bottom: 106px;
    }

    .plant-card {
        padding: 125px;
        position: relative;
        width: 99%;
        display: flex;
        align-items: center;
        border-radius: 150px;
        backdrop-filter: blur(40px);

        @include tablet {
            border-radius: 90px;
            padding: 60px 10px;
        }
        
        @include mobile {
            flex-direction: column;
            border-radius: 70px;
            padding: 120px 10px 60px 10px;
        }

        &:not(:last-child) {
            margin-bottom: 135px;

            @include tablet {
                margin-bottom: 70px;
            }
            
            @include mobile {
                margin-bottom: 100px;
            }
        }


        .plant-card-heading {
            font-size: 33px;
            font-weight: 600;
            line-height: 1.21;
            text-shadow: 0px 1.02px 2.21px rgba(0, 0, 0, 0.1743),
            0px 2.46px 5.32px rgba(0, 0, 0, 0.2504),
            0px 4.63px 10.02px rgba(0, 0, 0, 0.31),
            0px 8.26px 17.87px rgba(0, 0, 0, 0.3696),
            0px 15.46px 33.42px rgba(0, 0, 0, 0.4457),
            0px 37px 80px rgba(0, 0, 0, 0.62);

            @include mobile {
                font-size: 24px;
            }
        }

        .plant-card-description {
            font-size: 18px;
            font-weight: 600;
            line-height: 1.21;
            max-width: 644px;

            @include tablet {
                font-size: 14px;
                max-width: 370px;
            }
            
            @include mobile {
                font-size: 14px;
            }
        }

        .plant-card-cost {
            font-size: 33px;
            font-weight: 600;
            line-height: 1.21;
            text-shadow: 0px 1.02px 2.21px rgba(0, 0, 0, 0.1743),
            0px 2.46px 5.32px rgba(0, 0, 0, 0.2504),
            0px 4.63px 10.02px rgba(0, 0, 0, 0.31),
            0px 8.26px 17.87px rgba(0, 0, 0, 0.3696),
            0px 15.46px 33.42px rgba(0, 0, 0, 0.4457),
            0px 37px 80px rgba(0, 0, 0, 0.62);

            @include mobile {
                font-size: 24px;
            }
        }

        .button-list {
            display: flex;
            align-items: center;
            gap: 28px;
        }

        .plant-card-button {
            font-family: $general-font;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.21;
            color: $general-white;
            background-color: transparent;
            padding: 13px 52px;
            border: 2px solid $general-white;
            border-radius: 12px;
            transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;

            @include tablet {
                font-size: 20px;
                padding: 8px 30px;
            }
            
            @include mobile {
                font-size: 20px;
                padding: 8px 30px;
            }

            &:hover,
            &:focus {
                color: $hover-green;
                border-color: $hover-green;
            }
        }

        .plant-card-save-button {
            padding: 10px 12px;
            stroke: $general-white;
            background-color: transparent;
            border: 2px solid $general-white;
            border-radius: 12px;
            transition: stroke 0.3s ease-in-out, border-color 0.3s ease-in-out;
            
            @include tablet {
                padding: 6px 8px;
            }
            
            @include mobile {
                padding: 3px 4px;
            }

            &:hover,
            &:focus {
                stroke: $hover-green;
                border-color: $hover-green;
            }
        }

        &:nth-child(odd) {
            .plant-image {
                position: absolute;
                user-select: none;
                left: 35px;
                bottom: 15px;
                width: 529px;
                height: 644px;

                @include tablet {
                    width: 50%;
                    height: auto;
                    left: 0;
                    bottom: 25px;
                }
                
                @include mobile {
                    width: 70%;
                    height: auto;
                    left: 50px;
                    top: -120px;
                }
            }
    
            .figcaption {
                display: flex;
                flex-direction: column;
                gap: 24px;
                margin-left: auto;
                
                @include mobile {
                    gap: 15px;
                }
            }
        }

        &:nth-child(even) {

            @include tablet {
                .plant-card-heading {
                    text-align: right;
                }
                .plant-card-description {
                    text-align: right;
                }
                .plant-card-cost {
                    text-align: right;
                }
                .button-list {
                    justify-content: right;
                }
            }

            .figcaption {
                display: flex;
                flex-direction: column;
                gap: 24px;
                
                @include mobile {
                    gap: 15px;
                }
            }
    
            .plant-image {
                position: absolute;
                user-select: none;
                right: 35px;
                bottom: -53px;

                @include tablet {
                    width: 60%;
                    height: auto;
                    right: -70px;
                    bottom: 0; 
                }
                
                @include mobile {
                    width: 70%;
                    height: auto;
                    left: 50px;
                    top: -100px;
                }
            }
        } 
    }
}