$desktop-min: 1640px;
$laptop-min: 1442px;
$tablet-min: 768px;
$mobile-min: 320px;

@mixin mobile {
    @media screen and (max-width: ($tablet-min - 0.1)) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-min) and (max-width: ($laptop-min - 0.1px)) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: ($desktop-min + 67px)) {
        @content;
    }
}