@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$main-color: #1B2316;
$general-white: #FFFFFF;
$hover-green: #80C56E;
$cards-white: #FFFFFF0D;
$footer-green: #222C1D;

$general-font: "Inter";