body {
    background-color: $main-color;
    color: $general-white;
    font-family: $general-font;
    font-style: normal;
    line-height: normal;
}

.container {
    max-width: 1442px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        width: $mobile-min;
    }

    @include tablet {
        width: ($tablet-min - 1px);
    }

    @include desktop {
        width: $desktop-min;
    }

    
    @include desktop {
        width: ($desktop-min);
    }
}

button {
    font: inherit;
    cursor: pointer;
}
  
a {
    text-decoration: none;
}
  
h1, h2, h3, h4, p, ul, ol {
    margin: 0;
    padding: 0;
}
  
li {
    list-style-type: none;
}

.background-wrapper {
    background-image: url(../../images/backgroundImg.jpg);
    height: fit-content;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 143px;
}

.is-hidden {
    position: absolute;
    visibility: hidden;
}